server:
  port: 8082
  servlet:
    context-path: /attendance

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/attendance_service
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
